:root {
  --darkblue: #3c6c91;
  --skybleue: #0583d2;
  --lightblue: #b8b3ff;
  --lightgreen: #61b0b7;
  --purewhite: #ffffff;
  --red: #e71d36;
  --white: #fdffff;
  --gray: #8e8e8e;
  --box-shadow1: 2px 2px 4px #c4c4c4;
  --border1: solid 1px #d4d4d4;
  --border2: solid 1px #8e8e8e;
}

/* Searchbar */
.s-search-bar {
  display: relative;
  background-color: var(--white);
  border: var(--border1);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #d4d4d4;
  padding: 10px;
  width: 22px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.1);
}

.s-show-search {
  width: 45%;
}

.g-search-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  top: 0;
}

.s-search-bar input[type="text"] {
  background-color: var(--white);
  border: none;
  outline: none;
  height: 100%;
  width: calc(100% - 64px);
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 14px;
  border-radius: 4rem;
  box-shadow: 0 0 0 100px var(--white) inset;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}

.s-show-search,
.s-search-bar input[type="text"] {
  opacity: 1;
  pointer-events: initial;
}

.s-search-bar:active {
  border: 1px solid #87bdf0;
}

.s-search-button {
  width: 35px;
  height: 35px;
  background-color: var(--darkblue);
  border-radius: 50%;
  position: absolute;
  top: 2.8ch;
  right: 24px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.s-close-icon {
  opacity: 0;
}

.s-show-search .s-search-button {
  transform: rotate(90deg);
}

.s-search-icon {
  font-size: 1rem;
}

.s-close-icon {
  font-size: 1.5;
}

.s-search-icon,
.s-close-icon {
  color: #fff;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.s-show-search .s-search-icon {
  opacity: 0;
}

.s-show-search .s-close-icon {
  opacity: 1;
}

/* main border */

.g-main-wrap {
  /* border: solid 1px;  */
  display: flex;
  flex-direction: column;

  .g-header {
    display: grid;
    grid-template-columns: 40vh 1fr;
    height: 50px;

    .g-component {
      padding-right: 20px;
      margin-top: 6px;
      padding-right: 50px;
      position: fixed;
      z-index: -1;

      .h3 {
        color: var(--gray);
      }
    }
  }
}

/*FORM STYLES*/
.g-form-box {
  position: relative;
  display: flex;
  height: 85vh;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #8e8e8e;
  text-align: left;
  margin: 5px;

  .g-form-preview {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .g-label-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.g-form-wrap {
  padding-left: 25px;
}

.g-form-wrap label {
  font-size: 18px;
  font-weight: 500;
}

label {
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
}

textarea {
  border: none;
  border: 3px;
}

input {
  border: none;
}

form {
  width: 25vw;
  height: 71vh;
  overflow-y: auto;
  overflow-x: hidden;
}

form::-webkit-scrollbar {
  display: none;
}

.g-form-wrap input[type="text"],
.g-form-wrap input[type="date"],
.g-form-wrap textarea,
.dropdown-input {
  height: 35px;
  width: 90%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: lighter;
  background-color: transparent;
}

.g-form-wrap textarea {
  height: 35px;
  resize: vertical;
  max-height: 80px;
  max-width: 90%;
  min-width: 90%;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* table */
.history-box {
  text-align: right;
  /* border: solid 1px; */
  padding-right: 10px;

  .history-title {
    display: flex;
    justify-content: end;
    color: var(--gray);
    padding-right: 25px;
  }

  .history-content {
    max-height: 470px;
    overflow-y: scroll;
    display: grid;
    box-shadow: 4px 4px 10px #838383;
    border-radius: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    .g-table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: var(--box-shadow1);
      grid-template-areas: "header", "body";

      .g-thead {
        box-shadow: 4px 4px 10px #838383;
        top: 0;
        position: sticky;
        background-color: var(--darkblue);
        color: #ffffff;
        position: sticky;
        grid-area: header;
      }

      .g-tbody {
        color: var(--gray);
        grid-area: body;
      }

      .g-th-td {
        padding: 5px;
        text-align: left;
        border: var(--border1);
        width: 300px;
        font-size: 12px;
      }
    }
  }
}

/*BUTTON STYLES*/
.generate-pass-button .svg-inline--fa {
  margin-right: 5px;
  font-size: 1rem;
  color: #fff;
}

.generate-pass-button {
  background-color: #007bff;
  color: #fff;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-pass-button:hover {
  background-color: #0056b3;
}

/*POP-UP GENERATED GATEPASS*/
.popup-gate-pass {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  /* padding: 20px; */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Animation */
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.gate-pass-inner {
  position: relative;
  padding: 32px;
  /* width: 50%; */
  min-height: 80vh;
  min-width: 400px;
  background-color: #fff;

  /* Animation */
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

/* Animation Keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
