body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  background: #e4e8f5;
}

* {
  box-sizing: border-box;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  display: inline-block;
  height: 50%;
  width: 98%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  border-radius: 10px;
}

.login-box {
  padding: 20px 50px;
  background: #fff;
  border-radius: 10px;
  width: 400px;
  box-shadow: 2px 4px 4px #ddd9d9, -2px 4px 4px #e2dddd;
}

.login-box .header {
  height: 50px;
  line-height: 50px;
  position: relative;
  color: #1f6b98;
}

.login-box .header:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 8px;
  background: #1f6b98;
}

.login-box .content {
  padding: 5px;
}

.login-box .content .input-box {

  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

.login-box .content .input-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 35px;
  line-height: 10px;
  font-size: 0.9em;
  outline: none;
  background: transparent;
  padding: 0;
  
}

.login-box .content .input-box input:focus,
.login-box .content .input-box input:not(:placeholder-shown) {
  font-size: .8em;
  top: -10px;
}

.login-box .content .input-box span:first-of-type {
  color: #ada7a7;
  position: absolute;
  top:10px;
  left: 0;
  text-align-last: left;
  pointer-events:none;
  transition:all .1s linear;
}

.login-box .content .input-box span:last-of-type {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0px;
  background: #1f6b98;
  transition:all .2s linear;
}

.login-box .content .input-box button {
  width: 100%;
  background: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  color: #ccc;
  cursor: pointer;
  margin: 0;
}

.login-box .content .input-box a {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9em;
  padding-top: 20px;
}

.login-box.register-box {
  background: #1f6b98;
  position: absolute;
  top: 30px;
  right: -20px;
  width: 110px;
  height: 60px;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.login-box.register-box .header {
  color: #fff;
}

.login-box.register-box .header:before {
  background: #fff;
  opacity: 0;
}

.login-box.register-box .header h3 {
  position: relative;
  top: -28px;
  left: -33px;
  font-size: 14px;
  transition: all .3s linear;
}

.login-box.register-box .content .input-box input {
  color: #fff;
}
.login-box.register-box .content .input-box {
  margin: 15px;
  align-items: center;
}

.login-box.register-box .content .input-box span:last-of-type {
  background: #fff;

}

.login-box.register-box:not(.open):hover {
  cursor: pointer;
}

.login-box.register-box .close {
  color: #fff;
  font-size: 1.6em;
  position: absolute;
  top: 22px;
  right: 28px;
  font-weight: bold;
  opacity: 0;
  cursor:pointer;
  transition: all 0.3s linear;
}

.login-box.register-box.open {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.login-box.register-box.open .header:before {
  opacity: 1;
}

.login-box.register-box.open .header h3 {
  top: 0;
  left: 0;
  font-size:medium;
}

.login-box.register-box.open .close {
  transform: rotate(135deg);
  top: 43px;
  opacity: 1;
  transition: all 0.3s 0.3s linear;
}

.login-box .content .input-box input:focus + span,
.login-box .content .input-box span.active {
    top: -10px;
    font-size: .8em;
}

.login-box .content .input-box input:focus {
  border-bottom: 1px solid #1f6b98;
}

.login-box .content .input-box input:focus + span,
.login-box .content .input-box span.active {
  top: -10px;
  font-size: .8em;
}

.login-box .content .input-box input:focus ~ span:last-of-type {
  width: 100%;
  background: #1f6b98;
}

.login-box.register-box .content .input-box input:focus ~ span:last-of-type {
  background: #fff;
}
.login-box.register-box .content .input-box input:focus ~ span:last-of-type {
  background: #d3d3d3;
}

.name-space {
  display:  flex;
  flex-direction: row;
  
}