  *{
    margin:0;
    padding:0;
    text-decoration: none;
  }

  body {
    background-color: #fdffff;
    /* overflow-y: hidden; */
  }

  .sidebar-container{
    display:flex;
  }

  main{
    flex: 1;
    width: 100%;
    padding: 20px;
  } 


  /* .sidebar-content {
    padding: 10px;
  } */

  .sidebar{
    box-shadow: 1px 1px 4px #005176 ;
    background: #005176;
    color: #ffffff;
    height: 100vh;
    width: 200px;
    /* transition: width 0.5s ease; */
    overflow-y: scroll;
}

  .sidebar-closed {
    width: 50px;
  }
  
  .sidebar-open {
    width: 350px; 
  }

  .top-section{
    display: flex;
    align-items:center;
    padding:30px 15px;
    background-color: #005176;
    position: sticky;
    /* animation:forwards; */
  }

  .top-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px; 
    right: 20px; 
    height: 1px;
    background-color: #ffffff;
  }

  .top-section h1{ 
    font-size: 30px;
    padding-left: 10px;
    /* margin-top: 5px; */
    color: #ffffff;
  }

  .logo{
    font-size: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }

  
  .bars{
  
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
  }

  .sidebar::-webkit-scrollbar {
    width: 8px; 
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: #fdffff;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background: #fdffff; 
    border-radius: 10px;
  }
  