
.um-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  
}

.um-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 30px 26px;
  border-radius: 5px;
  box-shadow:  2px 4px 4px #cac6c6;
}

.um-form-wrapper .um-info { 
  display:flex;
  flex-direction: row;
}

.um-form-wrapper .um-info h1{
  margin-top: 10px;
  padding-bottom: 50px;
}

.um-form-wrapper .um-info .um-firstname {
  display:flex;
  flex-direction: column;
  
}

.um-form-wrapper .um-info .um-lastname {
  display:flex;
  flex-direction: column;
  margin-left: 8px;
}

.um-form-wrapper input {
  padding: 10px 9px;
  background: #fff;
  width: 300px;
  border: solid 2px gray;
  margin-bottom: 20px;
  box-shadow:  2px 4px 4px #cac6c6;

}

.um-form-wrapper label {
  margin-bottom: 0px;
} 
.um-form-wrapper  button {
  margin: 4px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  background: transparent;
  color: gray;
}

.um-form-wrapper .update button{
  border: solid 2px gray;
  width: 550px;
  font-size: 20px;
  font-weight: bold;
  box-shadow:  2px 4px 4px #cac6c6;
}

.um-form-wrapper .delete button{
  font-size: 30px;
  padding: 10px 10px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px gray;
  box-shadow:  2px 4px 4px #cac6c6;
}



.um-edit-modal.open {
  opacity: 1  ;
  visibility: visible;
}

.um-edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/*  */
.um-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
}

.um-cancel-button,
.um-update-button {
  padding: 8px 20px;
  margin-left: 30px;
  border: none;
  border-radius: 4px;
  /* cursor: pointer; */
}

.um-cancel-button {

  background-color: red;
  color: #fff;
  margin-left: 230px;
}

.um-update-button {
  background-color: #4caf50;
  color: #fff;
}


